page-home {
    .slide-image {
        max-height: 100%;
        max-width: 100%;
        top: 0px;
        margin: 0px;
    }
    .sliderContent {
        max-height: 50%;
        max-width: 100%;
        height: auto;
        top: 0px;
        margin: 0px;
    }
    .mainContent{
        top: 0px;
        margin: 0px;
        padding: 0px;
    }
    .headerBG{
        background-image: url('assets/imgs/header_bg_silver.png');
    }
}
